.bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.navigation {
  list-style: none;
  margin: 0;
  background: rgba(46, 46, 46, 0.4);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start; }

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #FFFFFF;
  background-color: #2E2E2E; }

.navbar-brand {
  flex-grow: 7; }

.nav-link {
  font-size: 26px;
  text-align: center;
  transition: 0.3s; }

.nav-link:hover {
  background-color: #3E3E3E; }

.center-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  background-color: rgba(48, 48, 48, 0.8);
  height: 10%;
  width: 10%;
  text-align: center; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fa:hover {
  opacity: 0.7; }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navigation li:last-of-type a {
    border-bottom: none; } }
