$fonts-text: 'Roboto', Helvetica, Arial, sans-serif;
$font-headings: 'Roboto', serif;

//background color
$grey: #2E2E2E;

//text color set to white
$white: #FFFFFF;

//fonts set to 46px
$nav-font-size: 26px !default;
